.grid-33
  .app--section
    ul.app--message--list
      li
        h3
          | Conversation with 
          a #{timeline[0].user.name}
        |             
        ul.app--message--conversation
          if dm
            each message in dm
              if message.id === dm[0].id
                li.app--message
                  .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
                    //- img(src='${profile_image_url}')
                  |                
                  p.app--message--text #{message.text} 
                  |                 
                  p.app--message--timestamp #{message.sender.created_at}
                |               
              else
                li.app--message--me
                  .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
                    img(src='../public/images/m-spore.png')
                  |             
                  p.app--message--text
                    | #{message.text}
                  |             
                  p.app--message--timestamp #{message.sender.created_at}
                | 
